{% extends 'base.html.twig' %} {% block title %} Login - peereval.me {% endblock %} {% block body %}
<section id="cta" class="main special">
    <header class="major">
        <h2>Tutor Logon</h2>
        <form id="frm2" method="POST" action="{{ path('login_check') }}">
            <label>Username</label>
            <input type="text" name="username" value="{{last_username}}">
            <br>
            <label>Password</label>
            <input type="password" name="password">
            <br>
            <button type="submit" value="login">
                <label>Login</label>
            </button>
        </form>
    </header>
    <footer class="major">
        <ul class="actions">
        </ul>
    </footer>
</section>
{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %} {% endblock %}