{% extends 'base.html.twig' %} 
{% block title %} Peereval.me {% endblock %} {% block body %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <img src="{{ asset('images/logo1.png') }}" alt="logo">
    </header>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="#intro" class="active">Get Started</a></li>
            <li><a href="#first">How it works</a></li>
            <li><a href="#second">Why do it?</a></li>
            <li><a href="#third">About</a></li>
        </ul>
    </nav>
    <!-- Main -->
    <div id="main">
        <!-- Introduction -->
        <section id="intro" class="main">
            <div class="spotlight">
                <div class="content">
                    <header class="major special">
                        <h2>Start Evaluation</h2>
                    </header>
                    {{ form_start(form) }}
                    <label>Unique Code</label>
                    {{ form_widget(form) }}
                    <button>
                        <label>Start Evaluation</label>
                    </button>
                    {{ form_end(form) }}
                    <p>By clicking on 'Start Evaluation', you are agreeing to answer all questions honestly. Failing to do so will have a negative effect on the value of the evaluation review.</p>
                    <ul class="actions">
                        <li> <a href="#cta" class="button">Log In as Tutor</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- First Section -->
        <section id="first" class="main special">
            <header class="major">
                <h2>How it works</h2>
            </header>
            <ul class="features">
                <li>
                    <img src="{{ asset('images/home01.png') }}" alt="hand-pc">
                    <h3>Step 1</h3>
                    <p>Simply answer the questions that are provided on the form.</p>
                </li>
                <li>
                    <img src="{{ asset('images/home02.png') }}" alt="hand-keyboard">
                    <h3>Step 2</h3>
                    <p>Once you are happy with your answers, click submit.</p>
                </li>
                <li>
                    <img src="{{ asset('images/home03.png') }}" alt="beard-smile">
                    <h3>Step 3</h3>
                    <p>That's It! Your tutor will receive a copy of the completed evaluation form.</p>
                </li>
            </ul>
        </section>
        <!-- Second Section -->
        <section id="second" class="main special">
            <header class="major">
                <h2>Why do it?</h2>
                <p>Collaborating with peers is never easy and can be quite stressful. However, Peer Evaluation is here to take away the stress. With Peer Evaluation, you will be able to discuss and evaluate your ideas with those of other students.</p>
            </header>
            <footer class="major">
            </footer>
        </section>
        <section id="third" class="main special">
            <header class="major">
                <h2>About</h2>
                <p>What is our project?
                    <br>Why are we doing this project?
                    <br>Who was envloved in ths project?</p>
            </header>
            <footer class="major">
                <ul class="actions">
                    <li><a href="{{ path('about')}}" class="button">Learn More</a></li>
                </ul>
            </footer>
        </section>
        <!-- Get Started -->
        <section id="cta" class="main special">
            <header class="major">
                <h2>Tutor Log In</h2> {% if error %}
                <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
                {% endif %}
                <form id="frm2" method="POST" action="{{ path('login_check') }}">
                    <label>Username</label>
                    <input type="text" name="username" value="{{last_username}}">
                    <br>
                    <label>Password</label>
                    <input type="password" name="password">
                    <br>
                    <input type="submit" value="login" name="submit">
                </form>
            </header>
       
        </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>
</div>
</div>
{% endblock %}
