{% extends 'base.html.twig' %} {% block title %} Evaluate - peereval.me {% endblock %} 
{% block body %}
<label>Team name: </label>{{ getForm.name }}<br>
<label>Person name: </label>{{ person.name }}<br><br>
{{ form_start(form) }}
{% set num = 0 %}
{% for type, items in map %}
<label>Teammate {{loop.index}} - </label>
{{ type }}<br><br>
{% for key, value in items %}
	<label>Questions {{loop.index}}</label><br>
<input type="" value="{{ value.question }}" readonly><br>
{{ form_widget(form.answers[ num ] ) }}
{% set num = num + 1 %}
{% endfor %}<br><br>
{% endfor %}<br>
<button><label>Submit</label></button>
{{ form_end(form) }}
{% endblock %}