{% extends 'base.html.twig' %} {% block title %} Evaluate - peereval.me {% endblock %} {% block body %}
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <h1>Evaluation</h1>
        <p>Fill in the form.</p>
    </header>
    <!-- Main -->
    <div id="main">
        <!-- Content -->
        <section id="content" class="main">
            <h2>Before starting:</h2>
            <ul>
                <li> Enter your full name and student ID in the forms below</li>
                <li> Read each question carefully, and answer honestly</li>
                <li> Answer all questions to the best of your knowledge</li>
                <li> Avoid showing others your answers where possible</li>
                <li> When finished, review all answers and remember to submit</li>
            </ul>
            <h3>Student Details:</h3> {{ form_start(form) }} {% for stud in form.students %}
            <table>
                <tr>
                    <th>
                        {{ form_row(stud.fullName) }}
                    </th>
                    <th>
                        {{ form_row(stud.weltecId) }}
                    </th>
                </tr>
            </table>
            {% endfor %} {% for quest in questions %}
            <label>Question {{ loop.index }} </label>
            <br> {{ quest.questionText }}
            <br> {{ form_widget(form.answers[loop.index - 1]) }}
            <br> {% endfor %}
            <button>
                <label>Submit</label>
            </button>
            <button>
                <label>Cancel</label>
            </button>
            {{ form_end(form) }}
        </section>
    </div>
</div>
{% block javascripts %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
<script src="{{ asset('js/skel.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %} {% endblock %}