{% extends 'base.html.twig' %}
{% block body %}
	{{ form_start(form) }}
	{{ form_row(form.students) }}<br>
	{{ fq.id }}<br>
	{% for quest in questions %}
	<label>Questions {{loop.index}}</label>
	{{ quest.questionText }}<br>
	{{ form_row(form.answers) }}<br>
	{% endfor %}
	<button><label>Submit</label></button>
	<button><label>Cancel</label></button>
	{{ form_end(form) }}
{% endblock %}