{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
<label>Student name</label>
{{ student.fullName }}<br><br>
<label>Student ID</label>
{{ student.weltecId}}<br><br>
{% for quest in questions %}
<label> Question {{ loop.index }} </label><br> 
<input type="text" value="{{ quest.questionText }}" readonly>
<br> {{ form_widget(form.answers[loop.index - 1]) }}<br> 
{% endfor %}
{{ form_end(form) }}
{% endblock %}